#TRUTHSOCIAL_USERNAME=your_username
#TRUTHSOCIAL_PASSWORD=your_password
# OR
TRUTHSOCIAL_TOKEN=your_token


SEARCH_LIMIT=10000
START_DATE = 2025-09-23T00:00:00Z
END_DATE = 2025-09-24T00:00:00Z

TRUMP_JSON_PATH=truth_archive.json
TRUMP_USER_ID=109382855642675251
TRUMP_LOADER_MAX_POSTS=0  # 0 = load all, or e.g., 100 for testing

SEARCH_SOURCE_TAG=autism_tylenol_search
TRUMP_SOURCE_TAG=trump_posts_dataset